.nav {
    grid-area: n;
    background-color: mediumseagreen;
    margin: 10px 10px 0 10px;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}